<aside class="menu">
    <p class="menu-label">
        <h1>话题</h1>
    </p>
    <ul class="menu-list" style="width:270px">
        <li v-for="(topic,index) in topicArr">
            <a href="#" @click="onSelectTopic(topic.id)">{{topic.topic}}</a>
        </li>
    </ul>

    <div style="position: absolute;
         display: inline-flex;
         left: 270px;top:55px;">
        <player :idx="index" :roomInfo='roomInfo' v-for="(roomInfo, index) in playerArr">
        </player>
    </div>

    <div style="overflow-y: scroll">
        <div id="roomList" class="collection box" style="position: absolute;left: 70px;top:60px;width: 800px;z-index: 999;display:none">
            <button class="delete" @click='onCloseRoomList'></button>
            <li v-for="(roomInfo,index) in roomArr">
                <div class="row">{{roomInfo.title}} [{{roomInfo.mc}}]
                    <a href="#" @click="onOpenRoom(roomInfo)" title="打开直播">{{ roomInfo.shortUrl}}</a>
                </div>
            </li>
        </div>
    </div>
</aside>