<nav class="nav">
    <div class="nav-left">
        <a class="nav-item is-brand" href="#">
            <span class="icon">
                <i class="fa fa-home"></i>
            </span>
        </a>
    </div>

    <!--<div class="nav-center">
        <a class="nav-item" href="#">
            <span class="icon">
        <i class="fa fa-github"></i>
      </span>
        </a>
        <a class="nav-item" href="#">
            <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
        </a>
    </div>-->

    <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
    </span>

    <div class="nav-right nav-menu">
        <router-link :to="{ name: 'setting'}">
            <!--<a class="nav-item">-->
            Setting
            <!--</a>-->
        </router-link>
    </div>
</nav>